<template>
  <q-page class="column items-center justify-center">
    <TodoForm />
    <TodoList />
  </q-page>
</template>

<script lang="ts" setup>
import TodoForm from '../components/TodoForm.vue'
import TodoList from '../components/TodoList.vue'
</script>
