<template>
  <div class="full-width q-mt-lg">
    <q-list
      v-for="todo in todoStore.getTodos"
      :key="todo.id"
      class="full-width"
    >
      <q-item>
        <q-item-section>
          <q-item-label caption lines="2">{{ todo.text }}</q-item-label>
        </q-item-section>

        <q-item-section side top>
          <q-btn
            round
            color="secondary"
            icon="delete"
            @click="todoStore.removeTodo(todo.id)"
            size="small"
          >
            <q-tooltip> Deletar </q-tooltip>
          </q-btn>
        </q-item-section>
      </q-item>

      <q-separator spaced inset />
    </q-list>
  </div>
</template>

<script lang="ts" setup>
import { useTodoStore } from '../stores/todoStore'

const todoStore = useTodoStore()
</script>
