<template>
 <div class="full-width">
    <form @submit.prevent="handleSubmit" class="full-width row justify-center">
      <q-input outlined v-model="todoInput" label="Titulo Todo" placeholder="Ex: Casa" class="q-mr-xs" style="width: 85%"/>
      <q-btn round color="primary" icon="add" type="submit" size="small" style="width: 50px;">
        <q-tooltip>
          Adicionar
        </q-tooltip>
      </q-btn>
    </form>
 </div>
</template>

<script lang="ts">
import { defineComponent, ref } from 'vue'
import { useTodoStore } from '../stores/todoStore'

export default defineComponent({
  setup() {
    const todoStore = useTodoStore()
    const todoInput = ref('')

    const handleSubmit = () => {
      if (todoInput.value.trim()) {
        todoStore.addTodo(todoInput.value.trim())
        todoInput.value = ''
      }
    }

    return {
      todoInput,
      handleSubmit
    }
  }
})
</script>
